Subject12/Library/
Subject12/Temp/
Subject12/.vs/
Subject12/Subject12/Library/
Subject12/Subject12_Prototype_2_Data/
Subject12/Subject12_Prototype_2.exe
Subject12.rar
Subject12/ProjectSettings/ProjectVersion.txt
